## Server ##
# Binaries for programs and plugins
server/*.exe
server/*.exe~
server/*.dll
server/*.so
server/*.dylib

# Test binary, built with `go test -c`
server/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
server/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
server/go.work

# Log files
server/*.log

# VS Code settings
.vscode


## UI ##
# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
app/.DS_Store
*.pem

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/.pnpm-debug.log*

# local env files
app/.env*.local

# vercel
app/.vercel

# typescript
*.tsbuildinfo
app/next-env.d.ts
